
.page-wrapper {
  max-width: 760px;
  margin: 0 auto;
}

.header {
  padding: 20px 30px;
  background-color: rgb(245, 212, 253);
}

.title {
  font-size: 40px;
  font-weight: bold;
  color: #212529;
}

.description {
  margin-top: 10px;
  color: #212529;
}

.link-wrapper {
  margin-top: 5px;
}

.contents-wrapper {
  padding: 30px;
}

.contents-card {
  margin-bottom: 50px;
}

.contents-title {
  font-size: 22px;
  font-weight: bold;
  color: #212529;
}

.contents-description {
  margin-top: 10px;
  color: #212529;
}

.image {
  width: 100%;
}